@import '../../assets/styles/imports';

// Add new item button.
.addButton {

  position: absolute;
  right: 2.5em;
  top: 10px;

}

// List items table.
.list-items {

  tr {

    th {

      font-size: 12px;
      font-weight: bold;
      text-transform: uppercase;
      
      &.iconCol { width: 60px; }

    }

    td {
      
      text-align: center;

      &.leftAlign { text-align: left; }
      &.rightAlign { text-align: right; }

    }

    &:hover {

      background-color: #f0f0f0;
      color: $alert;
      font-weight: bolder;

      &:first-child {
        background-color: auto;
        font-weight: normal;
      }

    }

    i {
      
      font-size: 13px;
    
      &.op-icon {
        
        font-size: 18px;
        position: absolute;
        margin-left: -7px;

        &:hover { cursor: pointer; }

      }

    }

  }

  .totalText {
    display: inline-block;
    font-size: 13px;
    margin: 20px -5px;
  }

}

// No items block.
.no-items {

  a {

    color: $link;
    cursor: pointer;

    &:hover { color: $alert; }

  }

}

@media only screen and (max-width: $break-medium) {
  table { font-size: 0.8em; }
}