<section class="container" [@enterAnimation]>

  <!-- Add new button.-->
  <div class="addButton">
    <button
      pButton
      class="btn ui-button-success"
      label="{{ 'BUTTONS.ADD_NEW' | translate }}"
      type="button"
      (click)="addNew()"
    ></button>
  </div>

  <!-- List items. -->
  <section *ngIf="!isLoading && items && items.length > 0" class="list-items">

    <p-table [value]="items">
      <ng-template pTemplate="header">
        <tr>
          <th>{{ 'ITEM.NAME' | translate }}</th>
          <th>{{ 'ITEM.QUANTITY' | translate }}</th>
          <th>{{ 'ITEM.PRICE' | translate }}</th>
          <th class="hideable">{{ 'ITEM.IS_PERISHABLE' | translate }}</th>
          <th class="hideable">{{ 'ITEM.EXPIRATION_DATE' | translate }}</th>
          <th class="hideable">{{ 'ITEM.MANUFACTURING_DATE' | translate }}</th>
          <th class="iconCol"></th>
          <th class="iconCol"></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-item>
        <tr>
          <td class="leftAlign">{{item.name}}</td>
          <td class="rightAlign">{{getQuantityText(item.quantity, item.measure)}}</td>
          <td class="rightAlign">{{item.price | currency:'BRL':'symbol':'1.2-2'}}</td>
          <td class="hideable">
            <i class="material-icons" *ngIf="item.perishable">check_circle</i>
            <span *ngIf="!item.perishable">--</span>
          </td>
          <td class="hideable">{{getDateText(item.expirationDate)}}</td>
          <td class="hideable">{{getDateText(item.manufacturingDate)}}</td>
          <td title="{{'BUTTONS.EDIT' | translate }} {{item.name}}">
            <i class="material-icons op-icon" (click)="editItem(item.id)">edit</i>
          </td>
          <td title="{{'BUTTONS.REMOVE' | translate }} {{item.name}}">
            <i class="material-icons op-icon" (click)="removeItem(item.id)">delete_forever</i>
          </td>
        </tr>
      </ng-template>
    </p-table>

    <!-- Total items. -->
    <p-message
      class="totalText"
      severity="info"
      text="{{ 'LABELS.TOTAL' | translate }}: {{items.length}}"
    ></p-message>
    
  </section>
  <!-- /list-items. -->

  <!-- There are no items to show.. -->
  <section *ngIf="!isLoading && (!items || items.length === 0)" class="no-items">
    {{ 'MESSAGES.GENERIC.NO_ITEMS_TO_SHOW' | translate }} 
    <a (click)="addNew()">{{ 'MESSAGES.GENERIC.ADD_ITEM' | translate }}</a>
  </section>
  <!-- /no-items. -->

  <!-- Loader. -->
  <section *ngIf="isLoading" class="loader-container">
    <img src="/assets/images/preloader.gif">
  </section>

  <!-- Generic confirm dialog. -->
  <p-confirmDialog
    header="{{ 'MESSAGES.CONFIRM.CONFIRMATION' | translate }}"
    icon="pi pi-exclamation-triangle"
    width="425"
    #cd
  >

    <p-footer>
      
      <button
        pButton
        icon="pi pi-times"
        label="{{ 'BUTTONS.NO' | translate }}"
        type="button"
        (click)="cd.reject()
      "></button>
      
      <button
        pButton
        icon="pi pi-check"
        label="{{ 'BUTTONS.YES' | translate }}"
        type="button"
        (click)="cd.accept()"
      ></button>

    </p-footer>

  </p-confirmDialog>

  <!-- Growl messages. -->
  <p-growl [(value)]="growlMsgs"></p-growl>

</section>