@import '../../assets/styles/imports';

/**
* Container for page content.
**/
.container {

  background-color: $yellow;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 500;

  // Page content.
  .content {

    left: 50%;
    position: absolute;
    top: 50%;
    text-align: center;
    transform: translate(-50%, -50%);

    // Not found text.
    .notfound-text {

      color: #fff;
      font-size: 8rem;
      text-transform: uppercase;

      @media screen and (max-width: 550px) {
        font-size: 5rem;
      }

    }

    // Return to home link.
    .gohome-link {

      color: $label;
      cursor: pointer;
      margin-top: 80px;
      text-transform: lowercase;

      &:hover { color: $alert; }

    }

  }

}