<section class="container" [@enterAnimation]>

  <div class="content">
    <div class="notfound-text">{{ 'NOTFOUND.NOT_FOUND' | translate }}</div>
    <div class="gohome-link" (click)="goToHome()">{{ 'NOTFOUND.RETURN_TO_MAIN' | translate }}</div>
  </div>

</section>