@import '../assets/styles/imports';

// Main container.
.container {

  display: grid;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-gap: 10px;
  grid-row-start: 1;
  grid-row-end: 3;
  grid-template-columns: 2em auto 2em;
  grid-template-rows: 40px auto 20px;
  // justify-content: start;

  // Main menu icon.
  .menu-icon {

    color: $text;
    font-size: 24px;
    margin: 10px;

    &:hover { 

      color: $subtext;
      cursor: pointer;

    }

  }

  .dynamic-content {

    grid-column: 2 / 3;

  }

}