<!-- Container for entire content. -->
<section class="container">

  <!-- Header content. -->
  <header>

    <!-- Menu icon. -->
    <i class="material-icons menu-icon" (click)="toggleMenu()">menu</i>

  </header>

  <!-- Main menu. -->
  <p-sidebar
    #mainMenu
    *ngIf="!isLoading"
    class="main-menu"
    [(visible)]="showMenu"
    [baseZIndex]="10000"
  >

    <!-- Menu items. -->
    <p-listbox
      [options]="menuOptions"
      [(ngModel)]="menuActive"
      (click)="showMenu = false; changePage(menuActive);"
      styleClass="menu-items"
    ></p-listbox>
      
    <!-- Change language. -->
    <p-dropdown
      [options]="languages"
      [(ngModel)]="currentLanguage"
      (ngModelChange)="changeLanguage(currentLanguage)"
      styleClass="menu-dropdown"
    ></p-dropdown>

  </p-sidebar>
  <!-- /main-menu-->

  <!-- Dynamic content. -->
  <section class="dynamic-content">
    
    <router-outlet></router-outlet>
  
  </section>
  <!-- /dynamic-content. -->

</section>
<!-- /container. -->