@import './imports';

// Body.
body {

  background-color: $background;
  color: $text;
  font-family: 'Roboto condensed', sans-serif !important;
  font-size: 1rem !important;
  line-height: 1.2rem !important;
  margin: 0;

  // Form labels.
  label {
    display: block;
    margin-bottom: 3px;
  }

  // Loader container.
  .loader-container { text-align: center; }

  // Icons. 
  .material-icons {

    font-family: 'Material Icons' !important;
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;

    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';

  }

  // Sidebar content.
  .ui-sidebar {

    background-color: $text;
    border-color: $text;
    color: $text-variation;

    // Menu items.
    .menu-items { 
      background-color: $text;
      border-color: #353d48;
      color: $text-variation;
      margin-top: 50px;
      padding: 20px;
      width: 100%;
    }

    // Dropdowns.
    .menu-dropdown {
      
      display: flex;
      margin: 20px auto;
      opacity: 0.5;

      &:hover { opacity: 1; }

    }

  }

  // Quantity input
  .inpQty {
    padding-right: 7px;
    text-align: right;
    width: 100px;
  }

  // Price input.
  .inpPrice { 
    padding-right: 7px;
    text-align: right;
    width: 135px;
  }

}

@media only screen and (max-width: $break-medium) {
  table { font-size: 0.8em; }
}

@media only screen and (max-width: 725px) {
  table .hideable { display: none; }
}