<section class="container" [@enterAnimation]>

  <section *ngIf="!isLoading" class="section-form">

    <!-- Id. -->
    <div *ngIf="item.id" class="form-item">

      {{ 'ITEM.ID' | translate | uppercase }}: {{item.id}}

    </div>

    <form [formGroup]="itemForm" (ngSubmit)="save(itemForm.value)">

      <!-- Name. -->
      <div class="form-item">

        <!-- Label. -->
        <label for="txtName">
          {{ 'ITEM.NAME' | translate }}
          <span>*</span>
        </label>

        <div
          class="form-alert form-alert-danger"
          *ngIf="!itemForm.controls['name'].valid && itemForm.controls['name'].dirty"
        >
          <div *ngIf="itemForm.controls['name'].errors.required">
            {{ 'MESSAGES.VALIDATION.REQUIRED_NAME' | translate }}
          </div>
          <div *ngIf="itemForm.controls['name'].errors.maxlength">
            {{ 'MESSAGES.VALIDATION.NAME_EXCEED_LENGTH' | translate }}
          </div>
        </div>

        <!-- Field. -->
        <input
          pInputText
          type="text"
          formControlName="name"
          name="txtName"
          maxlength="50"
          pattern="[a-zA-Z ]+"
          autofocus
          required
        />

      </div>

      <!-- Unit of measure. -->
      <div class="form-item">

        <!-- Label. -->
        <label for="selMeasure">
          {{ 'ITEM.UNIT_OF_MEASURE' | translate }}
          <span>*</span>
        </label>

        <!-- Field. -->
        <p-dropdown
          name="selMeasure"
          formControlName="measure"
          [options]="measureUnits"
          (onChange)="changeMeasure($event.value)"
          styleClass="menu-dropdown"
          required
        ></p-dropdown>

      </div>

      <!-- Quantity. -->
      <div class="form-item">

        <!-- Label. -->
        <label for="txtQuantity">
          {{ 'ITEM.QUANTITY' | translate }}
        </label>

      <!-- Field. -->
      <div class="ui-inputgroup ui-rtl">
          <p-inputMask
            name="txtQuantity"
            formControlName="quantity"
            type="text"
            mask="{{measureMask}}"
            dir="rtl"
            styleClass="inpQty"
            slotChar="{{measureSlotChar}}"
            required
          ></p-inputMask>
          <span class="ui-inputgroup-addon">{{currentMeasure}}</span>
        </div>

      </div>

      <!-- Price. -->
      <div class="form-item">

        <!-- Label. -->
        <label for="txtPrice">
          {{ 'ITEM.PRICE' | translate }}
          <span>*</span>
        </label>

        <!-- Validaton errors. -->
        <div
          class="form-alert form-alert-danger"
          *ngIf="!itemForm.controls['price'].valid && itemForm.controls['price'].dirty"
        >
            {{ 'MESSAGES.VALIDATION.REQUIRED_PRICE' | translate }}
        </div>

        <!-- Field. -->
        <input
          currencyMask
          name="txtPrice"
          formControlName="price"
          [(ngModel)]="item.price"
          class="inpPrice ui-inputtext ui-corner-all ui-state-default ui-widget"
          [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }"
        />

      </div>

      <!-- Is perishable? -->
      <div class="form-item">

        <!-- Label. -->
        <label for="chkIsPerishable">
          {{ 'ITEM.IS_PERISHABLE' | translate }}
        </label>

        <!-- Field. -->
        <p-checkbox
          name="chkIsPerishable"
          formControlName="perishable"
          binary="true"
        ></p-checkbox>

      </div>

      <!-- Expiration date. -->
      <div class="form-item">

        <!-- Label. -->
        <label for="calExpiration">
          {{ 'ITEM.EXPIRATION_DATE' | translate }}
          <span *ngIf="itemForm.controls['perishable'].value">*</span>
        </label>

        <!-- Validaton errors. -->
        <div
          class="form-alert form-alert-danger"
          [hidden]="!expDateRequired"
        >
          <div>{{ 'MESSAGES.VALIDATION.REQUIRED_EXPIRATION_DATE' | translate }}</div>
        </div>

        <!-- Field. -->
        <p-calendar
          dateFormat="{{dateFormat}}"
          name="calExpiration"
          formControlName="expirationDate"
          [locale]="calendarLables"
          (onSelect)="checkExpirationDate()"
        ></p-calendar>

      </div>

      <!-- Manufacturing date. -->
      <div class="form-item">

        <!-- Label. -->
        <label for="calManufacturing">
          {{ 'ITEM.MANUFACTURING_DATE' | translate }}
          <span>*</span>
        </label>

        <!-- Validaton errors. -->
        <div 
          class="form-alert form-alert-danger"
          *ngIf="!itemForm.controls['manufacturingDate'].valid && itemForm.controls['manufacturingDate'].dirty"
        >
            {{ 'MESSAGES.VALIDATION.REQUIRED_MANUFACTURING_DATE' | translate }}
        </div>

        <!-- Field. -->
        <p-calendar
          dateFormat="{{dateFormat}}"
          name="calManufacturing"
          formControlName="manufacturingDate"
          [locale]="calendarLables"
          [maxDate]="today"
          (ngModelChange)="checkManufacturingDate()"
          required
        ></p-calendar>

      </div>

      <!-- Page buttons. -->
      <section class="buttons-container">

        <p-confirmDialog
          header="{{ 'MESSAGES.CONFIRM.CONFIRMATION' | translate }}"
          icon="pi pi-exclamation-triangle"
          width="425"
          #cd
        >

          <p-footer>
            
            <button
              pButton
              icon="pi pi-times"
              label="{{ 'BUTTONS.NO' | translate }}"
              type="button"
              (click)="cd.reject()
            "></button>
            
            <button
              pButton
              icon="pi pi-check"
              label="{{ 'BUTTONS.YES' | translate }}"
              type="button"
              (click)="cd.accept()"
            ></button>

          </p-footer>

        </p-confirmDialog>

        <!-- Growl messages. -->
        <p-growl [(value)]="growlMsgs"></p-growl>

        <!-- Cancel button.-->
        <button
          pButton
          class="btn ui-button-secondary"
          icon="pi pi-times"
          label="{{ 'BUTTONS.CANCEL' | translate }}"
          type="button"
          (click)="cancel()"
        ></button>

        <!-- Save button.-->
        <button
          pButton
          class="btn ui-button-success"
          icon="pi pi-check"
          label="{{ 'BUTTONS.SAVE' | translate }}"
          type="submit"
          [disabled]="!itemForm.valid"
        ></button>

      </section>
      <!-- /buttons-container. -->

    </form>

  </section>
  <!-- /section-form. -->

  <!-- Loader. -->
  <section *ngIf="isLoading" class="loader-container">
    <img src="/assets/images/preloader.gif">
  </section>

</section>
<!-- /container. -->