@import '../../assets/styles/imports';

// Commom values.
$curRightPadding: 7px;

// Form item container.
.form-item {
  
  // Root def.
  margin-top: 20px;

  // First of type.
  &:first-child { margin-top: 0; }

  // Price input.
  // [--Moved to global.scss.--]
  /*.inpPrice { 
    padding-right: $curRightPadding;
    text-align: right;
    width: 100px;
  }*/
  
  // Quantity input.
  // [--Moved to global.scss.--]
  /*input[name=txtQuantity] { 
    padding-right: $curRightPadding;
    text-align: right;
    width: 100px;
  }*/

  // Labels.
  label { color: $label; }

  // Alert messages.
  .form-alert {

    font-size: 0.8em;
    margin: 5px 0;
    width: fit-content;
    border-radius: 5px;

    &.form-alert-danger { color: red; }

  }

}

// Container for buttons.
.buttons-container {
    
  margin: 20px 0;

  .btn { margin-right: 15px; }
  
}